h2:after, .card figcaption, .card:after, .news .article figcaption {
    position: absolute;
}   
h2, h2 strong, .card, .news .article {
  position: relative;
}
.cards, .news {
  display: flex;
}
h2 strong {
  z-index: 2;
  background: none;
  padding: 4px 8px;
  margin-left: 80px;
  font-size: 35px;
  font-family: 'Segoe UI';
  color: #333333;
  background-color: #ffffff
}
.cards{
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 20px;
  row-gap: 1rem;
  column-gap: 0.2rem;
  margin-bottom: 20px;
  cursor: pointer;
}
/* news is the picture that have text on top on the news section under
games card*/
.news{
  flex-flow: row wrap;
  justify-content: center;
  cursor: pointer;
}
/* Card is the image, Cards is the picture of the game that can be download
in the center */
.card {
  margin: 10px;
  width: 170px;
  height: 290px;
  overflow: hidden; /* Anything exceeds width and height will be cut */
  box-shadow: 0 5px 10px rgba(0,0,0,0.8);
  /* move the point of rotaion to the designated area, in this case center
  of top */
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateZ(0);
  transition: 0.3s;
  border-radius: 12px;
}
.card img{
  width: 100%;
  min-height: 100%;
}
/* The name of the game when hover the mouse over */
.card figcaption{
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  font-family: 'Segoe UI';
  font-weight: 600;
  background: none;
  color: #fff;
  /* translateY the more % the lower it is so normally
  the text is hidden but when gover over it's tranform back */
  transform: translateY(100%);
  transition: 0.3s;
}
/* The shadow of the card (45 degree of the pic) */
.card:after {
  content: '';
  z-index: 10;
  width: 200%;
  height: 100%;
  top: -80%;
  left: -20px;
  opacity: 0.1;
  transform: rotate(45deg);
  background: linear-gradient(to top, transparent, #fff 15%, rgba(255,255,255,0.5));
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 3px rgba(0,0,0,0.6);
  /* translateY -3px will make image bigger 
  rotateX will move the pic in x-axis, like a dog's door*/
  transform: translateY(-3px) scale(1.06) rotateX(15deg);
}
.card:hover figcaption {
  transform: none;
  text-shadow: rgb(0, 0, 0) 1px 1px 2px;
}
.card:hover:after {
  transform: rotate(25deg);
  top: -40%;
  opacity: 0.15;
} /* Reflection */
.news .article {
  overflow: hidden;
  width: 400px;
  height: 250px;
  margin-bottom: 10px;
  box-shadow: -3px 3px 4px rgba(0,0,0,0.5);
  border-radius: 12px;
  transition: 0.3s;
}
.article:hover {
  transform: scale(1.02);
}
.article img {
  width: 100%;
  min-height: 100%;
  transition: 0.2s;
}
.article figcaption {
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(51,51,51,0.3);
  color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 40px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  background: rgba(6,18,53,0.6);
  opacity: 0;
  transform: scale(1.15);
  transition: 0.2s;
}
.article figcaption h3 {
  color: #65b7ff;
  font-size: 18px;
  margin-bottom: 0;
  font-weight: bold;
}
.article:hover img {
  filter: blur(10px);
  transform: scale(0.97);
}
/* Show the figcaption of image in "What's new?" section 
by transforming opacity to 1 */
.article:hover figcaption {
  opacity: 1;
  transform: none;
}
body {
  color: #666666;
  background-color: #f9f8f6;
  background-size: cover;
  font-family: Georgia, Times, sans-serif;
  line-height: 1.4em;
  margin: 0px; 
  background-attachment: fixed;
  background-image: url("https://wallpapercave.com/wp/wp6208005.jpg");
}
.wrapper {
  width: 940px;
  margin: 20px auto 20px auto;
  border: 0px solid #000000;
  background-color: #ffffff;
  opacity: 99%;
}

header {
  height: 160px;
  background-image: url("https://wallpapercave.com/wp/wp6208005.jpg");
  width: 100%;
  box-shadow: 0px 6px;
}
h1 {
  text-indent: -9999px;
  width: 940px;
  height: 130px;
  margin: 0px;
}
footer {
  clear: both;
  color: #ffffff;
  overflow: hidden;
  background: linear-gradient(45deg, #424242, #161616, #979797, #666666);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  height: 100%;
  text-decoration: none;
  font-size: 15px;
  text-align: center;

}

section.courses {
  float:  left;
  width: 940px;
  border-right: 0px solid #eeeeee;
  margin-bottom: 30px;
}
article {
  clear: both;
  overflow: auto;
  width: 100%;
  margin-top: 40px;
}
hgroup {
  margin-top: 40px;
}
figure {
  float: left;
  width: 290px;
  height: 190px;
  padding: 0px;
  margin: 20px;
  border: 0px solid #eeeeee;

}
figcaption {
  font-size: 100%;
  text-align: center;
}
aside {
  width: 230px;
  float: left;
  padding: 0px 0px 0px 20px;
}
aside section a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
}
aside section a:hover {
  color: #985d6a;
  background-color: #efefef;
}
a {
  color: #de6581;
  text-decoration: #efefef;
}
h1, h2, h3 {
  font-weight: normal;
}
h2 {
  margin: 10px 0px 10px 0px;
  padding: 0px;
}
h3 {
  margin: 0px 0px 10px 0px;
  color: #de6581;
}
aside h2 {
  padding: 20px 0px 10px 0px;
  color: #575757;
}
.navbar {
  overflow: hidden;
  background: linear-gradient(45deg, #424242, #161616, #979797, #666666);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  height: 100%;

}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  animation: gradient 15s ease infinite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar .ul {
  margin-left: 30px;
}
.navbar .li{
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  height: 100%;
  display: inline;
  margin-left: 25px;
}
.navbar .li a {
  color: #ffffff;
  padding: 7px 10px 5px 10px;
}
.navbar a:hover {
  color: #ffffff;
  background-color: #ffffff77;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.452);

}
.navbar a.current {
  color: #ffffff;
  background-color: #ffffff77;
  margin-left: 25px;
}

.li .dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .current {
  float: left;
  overflow: hidden;
  margin-left: 25px;
}

.li .dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 9999;
  margin-top: 34.5px;
  margin-left: 25px;
  
}

.li .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  
}

.dropdown-content a:hover {
  background-color: rgba(224, 224, 224, 0.651);
}

.dropdown:hover .dropdown-content {
  display: block;
}


.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  overflow: hidden;
  background: linear-gradient(45deg, #4d71d3, #8198ff, #910000, #ff517c);
  background-size: 200% 200%;
  animation: animate 25s linear infinite;
  bottom: -350px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

h2:after {
  content: '';
  z-index: 1;
  bottom: 50%;
  margin-bottom: -2px;
  margin-left: 30px;
  margin-right: 30px;
  height: 2px;
  left: 0;
  right: 0;
  background: #929292;
}

@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
